<div class="list-holder flex">
  <!-- ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Algeria">
    <a class="submenu-item--name ng-binding" ng-href="algeria?ref=main-menu" href="algeria?ref=main-menu">Algeria</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Angola">
    <a class="submenu-item--name ng-binding" ng-href="angola?ref=main-menu" href="angola?ref=main-menu">Angola</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Benin">
    <a class="submenu-item--name ng-binding" ng-href="benin?ref=main-menu" href="benin?ref=main-menu">Benin</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Botswana">
    <a class="submenu-item--name ng-binding" ng-href="botswana?ref=main-menu" href="botswana?ref=main-menu">Botswana</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Burkina Faso">
    <a class="submenu-item--name ng-binding" ng-href="burkina-faso?ref=main-menu" href="burkina-faso?ref=main-menu">Burkina Faso</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Burundi">
    <a class="submenu-item--name ng-binding" ng-href="burundi?ref=main-menu" href="burundi?ref=main-menu">Burundi</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Cameroon">
    <a class="submenu-item--name ng-binding" ng-href="cameroon?ref=main-menu" href="cameroon?ref=main-menu">Cameroon</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Cape Verde">
    <a class="submenu-item--name ng-binding" ng-href="cape-verde?ref=main-menu" href="cape-verde?ref=main-menu">Cape Verde</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Central African Republic">
    <a class="submenu-item--name ng-binding" ng-href="central-african-republic?ref=main-menu" href="central-african-republic?ref=main-menu">Central African Republic</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Chad">
    <a class="submenu-item--name ng-binding" ng-href="chad?ref=main-menu" href="chad?ref=main-menu">Chad</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Comoros">
    <a class="submenu-item--name ng-binding" ng-href="comoros?ref=main-menu" href="comoros?ref=main-menu">Comoros</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Democratic Republic of the Congo">
    <a class="submenu-item--name ng-binding" ng-href="democratic-republic-of-the-congo?ref=main-menu" href="democratic-republic-of-the-congo?ref=main-menu">Democratic Republic of the Congo</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Djibouti">
    <a class="submenu-item--name ng-binding" ng-href="djibouti?ref=main-menu" href="djibouti?ref=main-menu">Djibouti</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Egypt">
    <a class="submenu-item--name ng-binding" ng-href="egypt?ref=main-menu" href="egypt?ref=main-menu">Egypt</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Equatorial Guinea">
    <a class="submenu-item--name ng-binding" ng-href="equatorial-guinea?ref=main-menu" href="equatorial-guinea?ref=main-menu">Equatorial Guinea</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Eritrea">
    <a class="submenu-item--name ng-binding" ng-href="eritrea?ref=main-menu" href="eritrea?ref=main-menu">Eritrea</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Eswatini">
    <a class="submenu-item--name ng-binding" ng-href="eswatini?ref=main-menu" href="eswatini?ref=main-menu">Eswatini</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Ethiopia">
    <a class="submenu-item--name ng-binding" ng-href="ethiopia?ref=main-menu" href="ethiopia?ref=main-menu">Ethiopia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Gabon">
    <a class="submenu-item--name ng-binding" ng-href="gabon?ref=main-menu" href="gabon?ref=main-menu">Gabon</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Ghana">
    <a class="submenu-item--name ng-binding" ng-href="ghana?ref=main-menu" href="ghana?ref=main-menu">Ghana</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Guinea">
    <a class="submenu-item--name ng-binding" ng-href="guinea?ref=main-menu" href="guinea?ref=main-menu">Guinea</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Guinea-Bissau">
    <a class="submenu-item--name ng-binding" ng-href="guinea-bissau?ref=main-menu" href="guinea-bissau?ref=main-menu">Guinea-Bissau</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Ivory Coast">
    <a class="submenu-item--name ng-binding" ng-href="ivory-coast?ref=main-menu" href="ivory-coast?ref=main-menu">Ivory Coast</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Kenya">
    <a class="submenu-item--name ng-binding" ng-href="kenya?ref=main-menu" href="kenya?ref=main-menu">Kenya</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Lesotho">
    <a class="submenu-item--name ng-binding" ng-href="lesotho?ref=main-menu" href="lesotho?ref=main-menu">Lesotho</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Liberia">
    <a class="submenu-item--name ng-binding" ng-href="liberia?ref=main-menu" href="liberia?ref=main-menu">Liberia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Libya">
    <a class="submenu-item--name ng-binding" ng-href="libya?ref=main-menu" href="libya?ref=main-menu">Libya</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Madagascar">
    <a class="submenu-item--name ng-binding" ng-href="madagascar?ref=main-menu" href="madagascar?ref=main-menu">Madagascar</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Malawi">
    <a class="submenu-item--name ng-binding" ng-href="malawi?ref=main-menu" href="malawi?ref=main-menu">Malawi</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Mali">
    <a class="submenu-item--name ng-binding" ng-href="mali?ref=main-menu" href="mali?ref=main-menu">Mali</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Mauritania">
    <a class="submenu-item--name ng-binding" ng-href="mauritania?ref=main-menu" href="mauritania?ref=main-menu">Mauritania</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Mauritius">
    <a class="submenu-item--name ng-binding" ng-href="mauritius?ref=main-menu" href="mauritius?ref=main-menu">Mauritius</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Morocco">
    <a class="submenu-item--name ng-binding" ng-href="morocco?ref=main-menu" href="morocco?ref=main-menu">Morocco</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Mozambique">
    <a class="submenu-item--name ng-binding" ng-href="mozambique?ref=main-menu" href="mozambique?ref=main-menu">Mozambique</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Namibia">
    <a class="submenu-item--name ng-binding" ng-href="namibia?ref=main-menu" href="namibia?ref=main-menu">Namibia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Niger">
    <a class="submenu-item--name ng-binding" ng-href="niger?ref=main-menu" href="niger?ref=main-menu">Niger</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Nigeria">
    <a class="submenu-item--name ng-binding" ng-href="nigeria?ref=main-menu" href="nigeria?ref=main-menu">Nigeria</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Republic of the Congo">
    <a class="submenu-item--name ng-binding" ng-href="republic-of-the-congo?ref=main-menu" href="republic-of-the-congo?ref=main-menu">Republic of the Congo</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Rwanda">
    <a class="submenu-item--name ng-binding" ng-href="rwanda?ref=main-menu" href="rwanda?ref=main-menu">Rwanda</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="São Tomé and Príncipe">
    <a class="submenu-item--name ng-binding" ng-href="sao-tome-and-principe?ref=main-menu" href="sao-tome-and-principe?ref=main-menu">São Tomé and Príncipe</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Senegal">
    <a class="submenu-item--name ng-binding" ng-href="senegal?ref=main-menu" href="senegal?ref=main-menu">Senegal</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Seychelles">
    <a class="submenu-item--name ng-binding" ng-href="seychelles?ref=main-menu" href="seychelles?ref=main-menu">Seychelles</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Sierra Leone">
    <a class="submenu-item--name ng-binding" ng-href="sierra-leone?ref=main-menu" href="sierra-leone?ref=main-menu">Sierra Leone</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Somalia">
    <a class="submenu-item--name ng-binding" ng-href="somalia?ref=main-menu" href="somalia?ref=main-menu">Somalia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="South Africa">
    <a class="submenu-item--name ng-binding" ng-href="south-africa?ref=main-menu" href="south-africa?ref=main-menu">South Africa</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="South Sudan">
    <a class="submenu-item--name ng-binding" ng-href="south-sudan?ref=main-menu" href="south-sudan?ref=main-menu">South Sudan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Sudan">
    <a class="submenu-item--name ng-binding" ng-href="sudan?ref=main-menu" href="sudan?ref=main-menu">Sudan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Tanzania">
    <a class="submenu-item--name ng-binding" ng-href="tanzania?ref=main-menu" href="tanzania?ref=main-menu">Tanzania</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="The Gambia">
    <a class="submenu-item--name ng-binding" ng-href="the-gambia?ref=main-menu" href="the-gambia?ref=main-menu">The Gambia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Togo">
    <a class="submenu-item--name ng-binding" ng-href="togo?ref=main-menu" href="togo?ref=main-menu">Togo</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Tunisia">
    <a class="submenu-item--name ng-binding" ng-href="tunisia?ref=main-menu" href="tunisia?ref=main-menu">Tunisia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Uganda">
    <a class="submenu-item--name ng-binding" ng-href="uganda?ref=main-menu" href="uganda?ref=main-menu">Uganda</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Zambia">
    <a class="submenu-item--name ng-binding" ng-href="zambia?ref=main-menu" href="zambia?ref=main-menu">Zambia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Zimbabwe">
    <a class="submenu-item--name ng-binding" ng-href="zimbabwe?ref=main-menu" href="zimbabwe?ref=main-menu">Zimbabwe</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
</div>
