<div class="list-holder flex">
  <!-- ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Afghanistan">
    <a class="submenu-item--name ng-binding" ng-href="afghanistan?ref=main-menu" href="afghanistan?ref=main-menu">Afghanistan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Bahrain">
    <a class="submenu-item--name ng-binding" ng-href="bahrain?ref=main-menu" href="bahrain?ref=main-menu">Bahrain</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Bangladesh">
    <a class="submenu-item--name ng-binding" ng-href="bangladesh?ref=main-menu" href="bangladesh?ref=main-menu">Bangladesh</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Bhutan">
    <a class="submenu-item--name ng-binding" ng-href="bhutan?ref=main-menu" href="bhutan?ref=main-menu">Bhutan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Brunei">
    <a class="submenu-item--name ng-binding" ng-href="brunei?ref=main-menu" href="brunei?ref=main-menu">Brunei</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Cambodia">
    <a class="submenu-item--name ng-binding" ng-href="cambodia?ref=main-menu" href="cambodia?ref=main-menu">Cambodia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="China">
    <a class="submenu-item--name ng-binding" ng-href="china?ref=main-menu" href="china?ref=main-menu">China</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="East Timor">
    <a class="submenu-item--name ng-binding" ng-href="east-timor?ref=main-menu" href="east-timor?ref=main-menu">East Timor</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="India">
    <a class="submenu-item--name ng-binding" ng-href="india?ref=main-menu" href="india?ref=main-menu">India</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Indonesia">
    <a class="submenu-item--name ng-binding" ng-href="indonesia?ref=main-menu" href="indonesia?ref=main-menu">Indonesia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Iran">
    <a class="submenu-item--name ng-binding" ng-href="iran?ref=main-menu" href="iran?ref=main-menu">Iran</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Iraq">
    <a class="submenu-item--name ng-binding" ng-href="iraq?ref=main-menu" href="iraq?ref=main-menu">Iraq</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Israel">
    <a class="submenu-item--name ng-binding" ng-href="israel?ref=main-menu" href="israel?ref=main-menu">Israel</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Japan">
    <a class="submenu-item--name ng-binding" ng-href="japan?ref=main-menu" href="japan?ref=main-menu">Japan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Jordan">
    <a class="submenu-item--name ng-binding" ng-href="jordan?ref=main-menu" href="jordan?ref=main-menu">Jordan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Kazakhstan">
    <a class="submenu-item--name ng-binding" ng-href="kazakhstan?ref=main-menu" href="kazakhstan?ref=main-menu">Kazakhstan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Kuwait">
    <a class="submenu-item--name ng-binding" ng-href="kuwait?ref=main-menu" href="kuwait?ref=main-menu">Kuwait</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Kyrgyzstan">
    <a class="submenu-item--name ng-binding" ng-href="kyrgyzstan?ref=main-menu" href="kyrgyzstan?ref=main-menu">Kyrgyzstan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Laos">
    <a class="submenu-item--name ng-binding" ng-href="laos?ref=main-menu" href="laos?ref=main-menu">Laos</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Lebanon">
    <a class="submenu-item--name ng-binding" ng-href="lebanon?ref=main-menu" href="lebanon?ref=main-menu">Lebanon</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Malaysia">
    <a class="submenu-item--name ng-binding" ng-href="malaysia?ref=main-menu" href="malaysia?ref=main-menu">Malaysia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Maldives">
    <a class="submenu-item--name ng-binding" ng-href="maldives?ref=main-menu" href="maldives?ref=main-menu">Maldives</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Mongolia">
    <a class="submenu-item--name ng-binding" ng-href="mongolia?ref=main-menu" href="mongolia?ref=main-menu">Mongolia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Myanmar">
    <a class="submenu-item--name ng-binding" ng-href="myanmar?ref=main-menu" href="myanmar?ref=main-menu">Myanmar</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Nepal">
    <a class="submenu-item--name ng-binding" ng-href="nepal?ref=main-menu" href="nepal?ref=main-menu">Nepal</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="North Korea">
    <a class="submenu-item--name ng-binding" ng-href="north-korea?ref=main-menu" href="north-korea?ref=main-menu">North Korea</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Oman">
    <a class="submenu-item--name ng-binding" ng-href="oman?ref=main-menu" href="oman?ref=main-menu">Oman</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Pakistan">
    <a class="submenu-item--name ng-binding" ng-href="pakistan?ref=main-menu" href="pakistan?ref=main-menu">Pakistan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Palestine">
    <a class="submenu-item--name ng-binding" ng-href="palestine?ref=main-menu" href="palestine?ref=main-menu">Palestine</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Philippines">
    <a class="submenu-item--name ng-binding" ng-href="philippines?ref=main-menu" href="philippines?ref=main-menu">Philippines</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Qatar">
    <a class="submenu-item--name ng-binding" ng-href="qatar?ref=main-menu" href="qatar?ref=main-menu">Qatar</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Saudi Arabia">
    <a class="submenu-item--name ng-binding" ng-href="saudi-arabia?ref=main-menu" href="saudi-arabia?ref=main-menu">Saudi Arabia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Singapore">
    <a class="submenu-item--name ng-binding" ng-href="singapore?ref=main-menu" href="singapore?ref=main-menu">Singapore</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="South Korea">
    <a class="submenu-item--name ng-binding" ng-href="korea?ref=main-menu" href="korea?ref=main-menu">South Korea</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Sri Lanka">
    <a class="submenu-item--name ng-binding" ng-href="sri-lanka?ref=main-menu" href="sri-lanka?ref=main-menu">Sri Lanka</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Syria">
    <a class="submenu-item--name ng-binding" ng-href="syria?ref=main-menu" href="syria?ref=main-menu">Syria</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Taiwan">
    <a class="submenu-item--name ng-binding" ng-href="taiwan?ref=main-menu" href="taiwan?ref=main-menu">Taiwan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Tajikistan">
    <a class="submenu-item--name ng-binding" ng-href="tajikistan?ref=main-menu" href="tajikistan?ref=main-menu">Tajikistan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Thailand">
    <a class="submenu-item--name ng-binding" ng-href="thailand?ref=main-menu" href="thailand?ref=main-menu">Thailand</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Turkiye">
    <a class="submenu-item--name ng-binding" ng-href="turkiye?ref=main-menu" href="turkiye?ref=main-menu">Turkiye</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Turkmenistan">
    <a class="submenu-item--name ng-binding" ng-href="turkmenistan?ref=main-menu" href="turkmenistan?ref=main-menu">Turkmenistan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="United Arab Emirates">
    <a class="submenu-item--name ng-binding" ng-href="uae?ref=main-menu" href="uae?ref=main-menu">United Arab Emirates</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Uzbekistan">
    <a class="submenu-item--name ng-binding" ng-href="uzbekistan?ref=main-menu" href="uzbekistan?ref=main-menu">Uzbekistan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Vietnam">
    <a class="submenu-item--name ng-binding" ng-href="vietnam?ref=main-menu" href="vietnam?ref=main-menu">Vietnam</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Yemen">
    <a class="submenu-item--name ng-binding" ng-href="yemen?ref=main-menu" href="yemen?ref=main-menu">Yemen</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
</div>
