<div class="list-holder flex">
  <!-- ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="American Samoa">
    <a class="submenu-item--name ng-binding" ng-href="american-samoa?ref=main-menu" href="american-samoa?ref=main-menu">American Samoa</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Australia">
    <a class="submenu-item--name ng-binding" ng-href="australia?ref=main-menu" href="australia?ref=main-menu">Australia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Federated States of Micronesia">
    <a class="submenu-item--name ng-binding" ng-href="federated-states-of-micronesia?ref=main-menu" href="federated-states-of-micronesia?ref=main-menu">Federated States of Micronesia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Fiji">
    <a class="submenu-item--name ng-binding" ng-href="fiji?ref=main-menu" href="fiji?ref=main-menu">Fiji</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="French Polynesia">
    <a class="submenu-item--name ng-binding" ng-href="french-polynesia?ref=main-menu" href="french-polynesia?ref=main-menu">French Polynesia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Guam">
    <a class="submenu-item--name ng-binding" ng-href="guam?ref=main-menu" href="guam?ref=main-menu">Guam</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Kiribati">
    <a class="submenu-item--name ng-binding" ng-href="kiribati?ref=main-menu" href="kiribati?ref=main-menu">Kiribati</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Marshall Islands">
    <a class="submenu-item--name ng-binding" ng-href="marshall-islands?ref=main-menu" href="marshall-islands?ref=main-menu">Marshall Islands</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Nauru">
    <a class="submenu-item--name ng-binding" ng-href="nauru?ref=main-menu" href="nauru?ref=main-menu">Nauru</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="New Caledonia">
    <a class="submenu-item--name ng-binding" ng-href="new-caledonia?ref=main-menu" href="new-caledonia?ref=main-menu">New Caledonia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="New Zealand">
    <a class="submenu-item--name ng-binding" ng-href="new-zealand?ref=main-menu" href="new-zealand?ref=main-menu">New Zealand</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Palau">
    <a class="submenu-item--name ng-binding" ng-href="palau?ref=main-menu" href="palau?ref=main-menu">Palau</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Papua New Guinea">
    <a class="submenu-item--name ng-binding" ng-href="papua-new-guinea?ref=main-menu" href="papua-new-guinea?ref=main-menu">Papua New Guinea</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Samoa">
    <a class="submenu-item--name ng-binding" ng-href="samoa?ref=main-menu" href="samoa?ref=main-menu">Samoa</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Solomon Islands">
    <a class="submenu-item--name ng-binding" ng-href="solomon-islands?ref=main-menu" href="solomon-islands?ref=main-menu">Solomon Islands</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Tonga">
    <a class="submenu-item--name ng-binding" ng-href="tonga?ref=main-menu" href="tonga?ref=main-menu">Tonga</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Tuvalu">
    <a class="submenu-item--name ng-binding" ng-href="tuvalu?ref=main-menu" href="tuvalu?ref=main-menu">Tuvalu</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Vanuatu">
    <a class="submenu-item--name ng-binding" ng-href="vanuatu?ref=main-menu" href="vanuatu?ref=main-menu">Vanuatu</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
</div>
