<div class="list-holder flex">
  <!-- ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Albania">
    <a class="submenu-item--name ng-binding" ng-href="albania?ref=main-menu" href="albania?ref=main-menu">Albania</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Andorra">
    <a class="submenu-item--name ng-binding" ng-href="andorra?ref=main-menu" href="andorra?ref=main-menu">Andorra</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Armenia">
    <a class="submenu-item--name ng-binding" ng-href="armenia?ref=main-menu" href="armenia?ref=main-menu">Armenia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Austria">
    <a class="submenu-item--name ng-binding" ng-href="austria?ref=main-menu" href="austria?ref=main-menu">Austria</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Azerbaijan">
    <a class="submenu-item--name ng-binding" ng-href="azerbaijan?ref=main-menu" href="azerbaijan?ref=main-menu">Azerbaijan</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Belarus">
    <a class="submenu-item--name ng-binding" ng-href="belarus?ref=main-menu" href="belarus?ref=main-menu">Belarus</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Belgium">
    <a class="submenu-item--name ng-binding" ng-href="belgium?ref=main-menu" href="belgium?ref=main-menu">Belgium</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Bosnia and Herzegovina">
    <a class="submenu-item--name ng-binding" ng-href="bih?ref=main-menu" href="bih?ref=main-menu">Bosnia and Herzegovina</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="British Virgin Islands">
    <a class="submenu-item--name ng-binding" ng-href="british-virgin-islands?ref=main-menu" href="british-virgin-islands?ref=main-menu">British Virgin Islands</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Bulgaria">
    <a class="submenu-item--name ng-binding" ng-href="bulgaria?ref=main-menu" href="bulgaria?ref=main-menu">Bulgaria</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Croatia">
    <a class="submenu-item--name ng-binding" ng-href="croatia?ref=main-menu" href="croatia?ref=main-menu">Croatia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Cyprus">
    <a class="submenu-item--name ng-binding" ng-href="cyprus?ref=main-menu" href="cyprus?ref=main-menu">Cyprus</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Czech Republic">
    <a class="submenu-item--name ng-binding" ng-href="czech-republic?ref=main-menu" href="czech-republic?ref=main-menu">Czech Republic</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Denmark">
    <a class="submenu-item--name ng-binding" ng-href="denmark?ref=main-menu" href="denmark?ref=main-menu">Denmark</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="England">
    <a class="submenu-item--name ng-binding" ng-href="england?ref=main-menu" href="england?ref=main-menu">England</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Estonia">
    <a class="submenu-item--name ng-binding" ng-href="estonia?ref=main-menu" href="estonia?ref=main-menu">Estonia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Faroe Islands">
    <a class="submenu-item--name ng-binding" ng-href="faroe-islands?ref=main-menu" href="faroe-islands?ref=main-menu">Faroe Islands</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Finland">
    <a class="submenu-item--name ng-binding" ng-href="finland?ref=main-menu" href="finland?ref=main-menu">Finland</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="France">
    <a class="submenu-item--name ng-binding" ng-href="france?ref=main-menu" href="france?ref=main-menu">France</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Georgia">
    <a class="submenu-item--name ng-binding" ng-href="georgia?ref=main-menu" href="georgia?ref=main-menu">Georgia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Germany">
    <a class="submenu-item--name ng-binding" ng-href="germany?ref=main-menu" href="germany?ref=main-menu">Germany</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Greece">
    <a class="submenu-item--name ng-binding" ng-href="greece?ref=main-menu" href="greece?ref=main-menu">Greece</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Hungary">
    <a class="submenu-item--name ng-binding" ng-href="hungary?ref=main-menu" href="hungary?ref=main-menu">Hungary</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Iceland">
    <a class="submenu-item--name ng-binding" ng-href="iceland?ref=main-menu" href="iceland?ref=main-menu">Iceland</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Ireland">
    <a class="submenu-item--name ng-binding" ng-href="ireland?ref=main-menu" href="ireland?ref=main-menu">Ireland</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Italy">
    <a class="submenu-item--name ng-binding" ng-href="italy?ref=main-menu" href="italy?ref=main-menu">Italy</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Kosovo">
    <a class="submenu-item--name ng-binding" ng-href="kosovo?ref=main-menu" href="kosovo?ref=main-menu">Kosovo</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Latvia">
    <a class="submenu-item--name ng-binding" ng-href="latvia?ref=main-menu" href="latvia?ref=main-menu">Latvia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Liechtenstein">
    <a class="submenu-item--name ng-binding" ng-href="liechtenstein?ref=main-menu" href="liechtenstein?ref=main-menu">Liechtenstein</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Lithuania">
    <a class="submenu-item--name ng-binding" ng-href="lithuania?ref=main-menu" href="lithuania?ref=main-menu">Lithuania</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Luxembourg">
    <a class="submenu-item--name ng-binding" ng-href="luxembourg?ref=main-menu" href="luxembourg?ref=main-menu">Luxembourg</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Malta">
    <a class="submenu-item--name ng-binding" ng-href="malta?ref=main-menu" href="malta?ref=main-menu">Malta</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Moldova">
    <a class="submenu-item--name ng-binding" ng-href="moldova?ref=main-menu" href="moldova?ref=main-menu">Moldova</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Monaco">
    <a class="submenu-item--name ng-binding" ng-href="monaco?ref=main-menu" href="monaco?ref=main-menu">Monaco</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Montenegro">
    <a class="submenu-item--name ng-binding" ng-href="montenegro?ref=main-menu" href="montenegro?ref=main-menu">Montenegro</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Netherlands">
    <a class="submenu-item--name ng-binding" ng-href="netherlands?ref=main-menu" href="netherlands?ref=main-menu">Netherlands</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="North Macedonia">
    <a class="submenu-item--name ng-binding" ng-href="north-macedonia?ref=main-menu" href="north-macedonia?ref=main-menu">North Macedonia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Northern Ireland">
    <a class="submenu-item--name ng-binding" ng-href="northern-ireland?ref=main-menu" href="northern-ireland?ref=main-menu">Northern Ireland</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Norway">
    <a class="submenu-item--name ng-binding" ng-href="norway?ref=main-menu" href="norway?ref=main-menu">Norway</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Poland">
    <a class="submenu-item--name ng-binding" ng-href="poland?ref=main-menu" href="poland?ref=main-menu">Poland</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Portugal">
    <a class="submenu-item--name ng-binding" ng-href="portugal?ref=main-menu" href="portugal?ref=main-menu">Portugal</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Romania">
    <a class="submenu-item--name ng-binding" ng-href="romania?ref=main-menu" href="romania?ref=main-menu">Romania</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Russia">
    <a class="submenu-item--name ng-binding" ng-href="russia?ref=main-menu" href="russia?ref=main-menu">Russia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="San Marino">
    <a class="submenu-item--name ng-binding" ng-href="san-marino?ref=main-menu" href="san-marino?ref=main-menu">San Marino</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Scotland">
    <a class="submenu-item--name ng-binding" ng-href="scotland?ref=main-menu" href="scotland?ref=main-menu">Scotland</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Serbia">
    <a class="submenu-item--name ng-binding" ng-href="serbia?ref=main-menu" href="serbia?ref=main-menu">Serbia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Slovakia">
    <a class="submenu-item--name ng-binding" ng-href="slovakia?ref=main-menu" href="slovakia?ref=main-menu">Slovakia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Slovenia">
    <a class="submenu-item--name ng-binding" ng-href="slovenia?ref=main-menu" href="slovenia?ref=main-menu">Slovenia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Spain">
    <a class="submenu-item--name ng-binding" ng-href="spain?ref=main-menu" href="spain?ref=main-menu">Spain</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Sweden">
    <a class="submenu-item--name ng-binding" ng-href="sweden?ref=main-menu" href="sweden?ref=main-menu">Sweden</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Switzerland">
    <a class="submenu-item--name ng-binding" ng-href="switzerland?ref=main-menu" href="switzerland?ref=main-menu">Switzerland</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Ukraine">
    <a class="submenu-item--name ng-binding" ng-href="ukraine?ref=main-menu" href="ukraine?ref=main-menu">Ukraine</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Vatican City">
    <a class="submenu-item--name ng-binding" ng-href="vatican-city?ref=main-menu" href="vatican-city?ref=main-menu">Vatican City</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Wales">
    <a class="submenu-item--name ng-binding" ng-href="wales?ref=main-menu" href="wales?ref=main-menu">Wales</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
</div>
