<div class="list-holder flex">
  <!-- ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Antigua and Barbuda">
    <a class="submenu-item--name ng-binding" ng-href="antigua-and-barbuda?ref=main-menu" href="antigua-and-barbuda?ref=main-menu">Antigua and Barbuda</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Aruba">
    <a class="submenu-item--name ng-binding" ng-href="aruba?ref=main-menu" href="aruba?ref=main-menu">Aruba</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Barbados">
    <a class="submenu-item--name ng-binding" ng-href="barbados?ref=main-menu" href="barbados?ref=main-menu">Barbados</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Bermuda">
    <a class="submenu-item--name ng-binding" ng-href="bermuda?ref=main-menu" href="bermuda?ref=main-menu">Bermuda</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Bonaire">
    <a class="submenu-item--name ng-binding" ng-href="bonaire?ref=main-menu" href="bonaire?ref=main-menu">Bonaire</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Canada">
    <a class="submenu-item--name ng-binding" ng-href="canada?ref=main-menu" href="canada?ref=main-menu">Canada</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Cuba">
    <a class="submenu-item--name ng-binding" ng-href="cuba?ref=main-menu" href="cuba?ref=main-menu">Cuba</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Curaçao">
    <a class="submenu-item--name ng-binding" ng-href="curacao?ref=main-menu" href="curacao?ref=main-menu">Curaçao</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Dominica">
    <a class="submenu-item--name ng-binding" ng-href="dominica?ref=main-menu" href="dominica?ref=main-menu">Dominica</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Dominican Republic">
    <a class="submenu-item--name ng-binding" ng-href="dominican-republic?ref=main-menu" href="dominican-republic?ref=main-menu">Dominican Republic</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Greenland">
    <a class="submenu-item--name ng-binding" ng-href="greenland?ref=main-menu" href="greenland?ref=main-menu">Greenland</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Grenada">
    <a class="submenu-item--name ng-binding" ng-href="grenada?ref=main-menu" href="grenada?ref=main-menu">Grenada</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Haiti">
    <a class="submenu-item--name ng-binding" ng-href="haiti?ref=main-menu" href="haiti?ref=main-menu">Haiti</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Jamaica">
    <a class="submenu-item--name ng-binding" ng-href="jamaica?ref=main-menu" href="jamaica?ref=main-menu">Jamaica</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Mexico">
    <a class="submenu-item--name ng-binding" ng-href="mexico?ref=main-menu" href="mexico?ref=main-menu">Mexico</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Puerto Rico">
    <a class="submenu-item--name ng-binding" ng-href="puerto-rico?ref=main-menu" href="puerto-rico?ref=main-menu">Puerto Rico</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Saint Kitts and Nevis">
    <a class="submenu-item--name ng-binding" ng-href="saint-kitts-and-nevis?ref=main-menu" href="saint-kitts-and-nevis?ref=main-menu">Saint Kitts and Nevis</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Saint Lucia">
    <a class="submenu-item--name ng-binding" ng-href="saint-lucia?ref=main-menu" href="saint-lucia?ref=main-menu">Saint Lucia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Saint Vincent and the Grenadines">
    <a class="submenu-item--name ng-binding" ng-href="saint-vincent-and-the-grenadines?ref=main-menu" href="saint-vincent-and-the-grenadines?ref=main-menu">Saint Vincent and the Grenadines</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="The Bahamas">
    <a class="submenu-item--name ng-binding" ng-href="the-bahamas?ref=main-menu" href="the-bahamas?ref=main-menu">The Bahamas</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Trinidad and Tobago">
    <a class="submenu-item--name ng-binding" ng-href="trinidad-and-tobago?ref=main-menu" href="trinidad-and-tobago?ref=main-menu">Trinidad and Tobago</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="United States of America">
    <a class="submenu-item--name ng-binding" ng-href="USA?ref=main-menu" href="USA?ref=main-menu">United States of America</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
</div>
