<div class="list-holder flex">
  <!-- ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Argentina">
    <a class="submenu-item--name ng-binding" ng-href="argentina?ref=main-menu" href="argentina?ref=main-menu">Argentina</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Bolivia">
    <a class="submenu-item--name ng-binding" ng-href="bolivia?ref=main-menu" href="bolivia?ref=main-menu">Bolivia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Brazil">
    <a class="submenu-item--name ng-binding" ng-href="brazil?ref=main-menu" href="brazil?ref=main-menu">Brazil</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Chile">
    <a class="submenu-item--name ng-binding" ng-href="chile?ref=main-menu" href="chile?ref=main-menu">Chile</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Colombia">
    <a class="submenu-item--name ng-binding" ng-href="colombia?ref=main-menu" href="colombia?ref=main-menu">Colombia</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Ecuador">
    <a class="submenu-item--name ng-binding" ng-href="ecuador?ref=main-menu" href="ecuador?ref=main-menu">Ecuador</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Guyana">
    <a class="submenu-item--name ng-binding" ng-href="guyana?ref=main-menu" href="guyana?ref=main-menu">Guyana</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Paraguay">
    <a class="submenu-item--name ng-binding" ng-href="paraguay?ref=main-menu" href="paraguay?ref=main-menu">Paraguay</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Peru">
    <a class="submenu-item--name ng-binding" ng-href="peru?ref=main-menu" href="peru?ref=main-menu">Peru</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Suriname">
    <a class="submenu-item--name ng-binding" ng-href="suriname?ref=main-menu" href="suriname?ref=main-menu">Suriname</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Uruguay">
    <a class="submenu-item--name ng-binding" ng-href="uruguay?ref=main-menu" href="uruguay?ref=main-menu">Uruguay</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
  <div ng-repeat="country in $ctrl.destinationsData" class="submenu-item flex ng-scope" ng-attr-title="{{country.Name}}" title="Venezuela">
    <a class="submenu-item--name ng-binding" ng-href="venezuela?ref=main-menu" href="venezuela?ref=main-menu">Venezuela</a>
  </div>
  <!-- end ngRepeat: country in $ctrl.destinationsData -->
</div>
